// SPDX-License-Identifier: GPL-2.0-or-later OR BSD-2-Clause

/dts-v1/;

#define CISCO_POE_PORT_LED(p) \
	led@##p##.0 { \
		reg = <##p 0>; \
		realtek,hardware-managed; \
	}; \
	led@##p##.1 { \
		reg = <##p 1>; \
		color = <LED_COLOR_ID_AMBER>; \
		function = "poe"; \
		function-enumerator = <##p##>; \
	};
#define CISCO_PORT_LED(p) \
	led@##p##.0 { \
		reg = <##p 0>; \
		realtek,hardware-managed; \
	}; \
	led@##p##.1 { \
		reg = <##p 1>; \
		realtek,hardware-managed; \
	};

#include <dt-bindings/leds/common.h>

#include "rtl83xx.dtsi"
#include "rtl838x.dtsi"

/ {
	model = "Cisco SG220-26";
	compatible = "cisco,sg220-26", "realtek,rtl8380-soc";

	chosen {
		stdout-path = "serial0:9600n8";
		bootargs = "earlycon console=ttyS0,9600";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};
};

&uart0 {
	status = "okay";
};

&ext_io {
	port-leds {
		compatible = "realtek,rtl8380-eio-port-led";
		/* Address is PORT.LED */
		#address-cells = <2>;
		#size-cells = <0>;

		realtek,num-led = <2>;
		realtek,hardware-match-condition =
			<0 31>, /* port  0-23: "link/act", "off" */
			<0  7>; /* port 24-27: "link/act", "link 1G" */

		CISCO_POE_PORT_LED(0)
		CISCO_POE_PORT_LED(1)
		CISCO_POE_PORT_LED(2)
		CISCO_POE_PORT_LED(3)
		CISCO_POE_PORT_LED(4)
		CISCO_POE_PORT_LED(5)
		CISCO_POE_PORT_LED(6)
		CISCO_POE_PORT_LED(7)
		CISCO_POE_PORT_LED(8)
		CISCO_POE_PORT_LED(9)
		CISCO_POE_PORT_LED(10)
		CISCO_POE_PORT_LED(11)
		CISCO_POE_PORT_LED(12)
		CISCO_POE_PORT_LED(13)
		CISCO_POE_PORT_LED(14)
		CISCO_POE_PORT_LED(15)
		CISCO_POE_PORT_LED(16)
		CISCO_POE_PORT_LED(17)
		CISCO_POE_PORT_LED(18)
		CISCO_POE_PORT_LED(19)
		CISCO_POE_PORT_LED(20)
		CISCO_POE_PORT_LED(21)
		CISCO_POE_PORT_LED(22)
		CISCO_POE_PORT_LED(23)
		CISCO_PORT_LED(24)
		CISCO_PORT_LED(25)

		led@26.1 {
			reg = <26 1>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			linux,default-trigger = "default-on";
		};
		led@27.1 {
			reg = <27 1>;
			color = <LED_COLOR_ID_AMBER>;
			function = LED_FUNCTION_STATUS;
			default-state = "off";
		};
//		multi-led-0 {
//			#address-cells = <2>;
//			#size-cells = <0>;
//			reg = <0 0>;
//
//			color = <LED_COLOR_ID_MULTI>;
//			function = LED_FUNCTION_STATUS;
//			linux,default-trigger = "default-on";
//
//			led@26.1 {
//				reg = <26 1>;
//				color = <LED_COLOR_ID_GREEN>;
//			};
//			led@27.1 {
//				reg = <27 1>;
//				color = <LED_COLOR_ID_AMBER>;
//			};
//		};
	};
};

&spiflash {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <10000000>;
		reg = <0>;
		m25p,fast-read;
		broken-flash-reset;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			loader: partition@0 {
				label = "boot";
				reg = <0x0 0x80000>;
				read-only;
			};

			bdinfo: partition@80000 {
				label = "bdinfo";
				reg = <0x80000 0x10000>;
				read-only;
			};

			sysinfo: partition@90000 {
				label = "sysinfo";
				reg = <0x90000 0x10000>;
				read-only;
			};

			jffs2_cfg: partition@a0000 {
				label = "jffs2 cfg";
				reg = <0xa0000 0x400000>;
			};

			jffs2_log: partition@4a0000 {
				label = "jffs2 log";
				reg = <0x4a0000 0x100000>;
			};

			runtime: partition@5a0000 {
				label = "runtime";
				reg = <0x5a0000 0xd30000>;
			};

			runtime2: partition@12d0000 {
				label = "runtime2";
				reg = <0x12d0000 0xd30000>;
			};
		};
	};
};
