// SPDX-License-Identifier: GPL-2.0-or-later
/dts-v1/;

#include "rtl83xx.dtsi"
#include "rtl838x.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

#define NETGEAR_PORT_LED(phy) \
	led@##phy##.0 { \
		reg = <##phy 0>; \
		realtek,hardware-managed; \
		color = <LED_COLOR_ID_GREEN>; \
		function = LED_FUNCTION_LAN; \
	}; \
	led@##phy##.1 { \
		reg = <##phy 1>; \
		realtek,hardware-managed; \
		color = <LED_COLOR_ID_AMBER>; \
		function = LED_FUNCTION_LAN; \
	}

/ {
	compatible = "netgear,gs110tpp-v1", "realtek,rtl83xx-soc";
	model = "Netgear GS110TPP";

	chosen {
		stdout-path = "serial0";
		bootargs = "earlycon console=ttyS0,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	keys {
		compatible = "gpio-keys";

		reset {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		priority = <192>;
		open-source;
	};
};

&uart0 {
	status = "okay";
};
