// SPDX-License-Identifier: GPL-2.0-or-later
/dts-v1/;

#include "rtl83xx.dtsi"
#include "rtl838x.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

#define NETGEAR_PORT_LED(phy) \
	led@##phy##.0 { \
		reg = <##phy 0>; \
		realtek,hardware-managed; \
		color = <LED_COLOR_ID_GREEN>; \
		function = LED_FUNCTION_LAN; \
	}; \
	led@##phy##.1 { \
		reg = <##phy 1>; \
		realtek,hardware-managed; \
		color = <LED_COLOR_ID_AMBER>; \
		function = LED_FUNCTION_LAN; \
	}

/ {
	compatible = "netgear,gs110tpp-v1", "realtek,rtl83xx-soc";
	model = "Netgear GS110TPP";

	chosen {
		stdout-path = "serial0";
		bootargs = "earlycon console=ttyS0,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	aliases {
		led-boot = &led_sys_green;
		led-failsafe = &led_sys_red;
		led-running = &led_sys_blue;
		led-upgrade = &led_sys_blue;
	};

	keys {
		compatible = "gpio-keys";

		reset {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_sys_red: sys_red {
			label = "red:system";
			gpios = <&gpio1 31 GPIO_ACTIVE_LOW>;
		};

		led_sys_green: sys_green {
			label = "green:system";
			gpios = <&gpio1 32 GPIO_ACTIVE_LOW>;
		};

		led_sys_blue: sys_blue {
			label = "blue:system";
			gpios = <&gpio1 34 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		priority = <192>;
		open-source;
	};

	gpio1: rtl8231@31 {
		compatible = "realtek,rtl8231-mdio";
		#gpio-cells = <2>;
		gpio-controller;
		ngpios = <37>;

		dev-handle = <&expander31>;
	};
};

&uart0 {
	status = "okay";
};

&switch_bus {
	ext_io: ext-io@a000 {
		compatible = "realtek,rtl8380-eio", "syscon";
		#address-cells = <0>;
		#size-cells = <0>;
		reg = <0xa000 0xf4>;

		port-leds {
			compatible = "realtek,rtl8380-eio-port-led";
			#address-cells = <2>;
			#size-cells = <0>;

			realtek,num-led = <2>;
			realtek,hardware-match-condition =
				<10 15>, /* Port  0-24: Link/Act 1G, 100M/10M */
				<31 31>; /* Port 25-28: Off (unused) */

			NETGEAR_PORT_LED(8);
			NETGEAR_PORT_LED(9);
			NETGEAR_PORT_LED(10);
			NETGEAR_PORT_LED(11);
			NETGEAR_PORT_LED(12);
			NETGEAR_PORT_LED(13);
			NETGEAR_PORT_LED(14);
			NETGEAR_PORT_LED(15);
			NETGEAR_PORT_LED(16);
			NETGEAR_PORT_LED(17);
		};

		mdio {
			compatible = "realtek,rtl8380-eio-mdio";
			#address-cells = <1>;
			#size-cells = <0>;

			clock-frequency = <10400000>;

			expander31: gpio-expander@31 {
				reg = <31>;
			};
		};
	};
};

&spiflash {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			partition@0 {
				label = "u-boot";
				reg = <0x0000000 0x0e0000>;
				read-only;
			};
			partition@e0000 {
				label = "u-boot-env";
				reg = <0x00e0000 0x010000>;
				read-only;
			};
			partition@f0000 {
				label = "sysinfo";
				reg = <0x00f0000 0x010000>;
				read-only;
			};
			partition@100000 {
				label = "jffs2_cfg";
				reg = <0x0100000 0x100000>;
				read-only;
			};
			partition@200000 {
				label = "jffs2_log";
				reg = <0x0200000 0x100000>;
				read-only;
			};
			partition@300000 {
				label = "runtime1";
				reg = <0x0300000 0xe80000>;
			};
			partition@11800000 {
				label = "runtime2";
				reg = <0x1180000 0xe80000>;
			};
		};
	};
};
